button input p {
    font-size: 15px;
}

button {
    margin: 5px 0 0 0;
}

:not(button):nth-child(n) {
    margin: 0;
}

.error {
    color: red;
}

#review-div {
    position: absolute;
    left: 50%;
    top: 50%;
    translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

#review-field {
    margin: 10px 0 15px;
}
