<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <script th:src="@{js/script.js}"></script>
</head>
<body>
    <div id="review-div">
        <h1>
            <label for="review-field">Review Form</label>
        </h1>
        <textarea rows="5" cols="50" name="content" form="review-form" placeholder="Write your review here..." id="review-field" required th:disabled="${sentiment != null}">[[${review} ?: '']]</textarea>
        <form id="review-form" th:if="${sentiment == null}">
            <input type="submit" value="Submit" formmethod="post" formaction="/" th:disabled="${sentiment != null}">
        </form>
        <div th:if="${sentiment != null}">
            <th:block th:switch="${sentiment}">
                <div th:case="'-1'">
                    <p class="error">Error!</p>
                    <button th:onclick="skip()">Refresh</button>
                </div>
                <p th:case="'0'">Our model evaluated the sentiment of your review to be: &#128557</p>
                <p th:case="'1'">Our model evaluated the sentiment of your review to be: &#128515</p>
            </th:block>
            <div th:if="${sentiment == 0 || sentiment == 1}">
                <p>Do you agree with this evaluation?</p>
                <button th:onclick="'sendAgreement(' + ${sentiment} + ', true)'">Agree</button>
                <button th:onclick="'sendAgreement(' + ${sentiment} + ', false)'">Disagree</button>
                <button th:onclick="skip()">Skip</button>
            </div>
        </div>
    </div>
</body>
</html>
